
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <a href="/create">create</a>
   <h1>test</h1>
   
   <% for (let i = 0; i< creatures.length; i++){ %> 
         
        <p><%= creatures[i].name %></p><br/>
        <p><%= creatures[i].location %></p><br/>
        <p><%= creatures[i].kind %></p><br/>
        <p><%= creatures[i].description %></p><br/>
    <a href="/sightings/<%= creatures[i].id %>/display ">show</a>
    <a href="/sightings/<%= creatures[i].id %>/edit">edit</a>
    <form action="/sightings/<%= creatures[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value="Destroy">
    </form>
    <% } %> 
    
</body>
</html>
